@using Aade.ViewModel
@model Aade.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Shared Documents";
}


<h1 class="display-4">DeliDoc</h1>
<h3>Εφαρμογή προβολής εγγράφων</h3>
<div class="row">
    <div class="col-md-12">
        <div class="form-group" style="@(Model.MyMessages.Count > 0 ? "display:block" : "display:none")">
            <table class="col-md-12">
                <thead>
                <tr>
                    <td style="display: none;">Id</td>
                    <td style="width:25%">Από</td>
                    <td style="width:25%">Έγγραφο</td>
                    <td style="width:25%">Ημερομηνία</td>
                    <td style="width:25%">Κατάσταση</td>
                </tr>
                </thead>
                <tbody>
                @foreach (MessagesForMe msg in Model.MyMessages)
                {
                    <tr>
                        <td style="display: none;">@msg.Id)</td>
                        <td>@msg.PolitisEmail</td>
                        <td>@msg.FileName</td>
                        <td>@msg.DateModified</td>
                        <td>@Html.ActionLink(msg.Status, "Index", "Doc", new { docid = msg.Id }, null)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="form-group" style="@(Model.MyMessages.Count == 0 ? "display:block" : "display:none")">
            <div class="form-group">
                <div class="col-md-6 d-inline">Δεν σας έχουν κοινοποιηθεί ακόμη έγγραφα</div>
            </div>
        </div>
    </div>
</div>

